{% extends "base.html" %}
{% block tittle %}Perfil{% endblock%}

{% block content %}
<style>
    body{
        background-color:black;
    }

</style>

<p class="h2" style = "color: white;">Fecha</p>
<img src="https://raw.githubusercontent.com/Detlos/web-images/ac6178a8048243b6d2f2574658eeb46d0f2b5664/spy.svg" style = "width: 10%;  margin: 1rem;">
<img src="https://raw.githubusercontent.com/Detlos/web-images/ac6178a8048243b6d2f2574658eeb46d0f2b5664/spy.svg" style = "width: 10%; margin: 1rem;">
<img src="https://raw.githubusercontent.com/Detlos/web-images/ac6178a8048243b6d2f2574658eeb46d0f2b5664/spy.svg" style = "width: 10%; margin: 1rem;">
<img src="https://raw.githubusercontent.com/Detlos/web-images/ac6178a8048243b6d2f2574658eeb46d0f2b5664/spy.svg" style = "width: 10%; margin: 1rem;">
<img src="https://raw.githubusercontent.com/Detlos/web-images/ac6178a8048243b6d2f2574658eeb46d0f2b5664/spy.svg" style = "width: 10%;  margin: 1rem;">
<img src="https://raw.githubusercontent.com/Detlos/web-images/ac6178a8048243b6d2f2574658eeb46d0f2b5664/spy.svg" style = "width: 10%; margin: 1rem;">
<img src="https://raw.githubusercontent.com/Detlos/web-images/ac6178a8048243b6d2f2574658eeb46d0f2b5664/spy.svg" style = "width: 10%; margin: 1rem;">
<img src="https://raw.githubusercontent.com/Detlos/web-images/ac6178a8048243b6d2f2574658eeb46d0f2b5664/spy.svg" style = "width: 10%; margin: 1rem;">
<img src="https://raw.githubusercontent.com/Detlos/web-images/ac6178a8048243b6d2f2574658eeb46d0f2b5664/spy.svg" style = "width: 10%; margin: 1rem;">
<img src="https://raw.githubusercontent.com/Detlos/web-images/ac6178a8048243b6d2f2574658eeb46d0f2b5664/spy.svg" style = "width: 10%; margin: 1rem;">

{% endblock %}